
/* VOLT.JS EXAMPLE STYLESHEET  */

*{
border:0;
font-size:inherit;
font-family: Tahoma, sans-serif;
}

body{
background-color:gray;
}

input[type='text']{
width:114px;
height:24px;
border:1px dotted violet;
padding:2px;
margin:5px 0;
text-align:center;
}

button{
width:120px;
height:30px;
margin:0 100px 5px 0;
color:white;
background:violet;
}

.wrapper{
position:absolute;
top:0;
left:0;
bottom:0;
right:0;
margin:auto;
width:680px;
height:400px;
overflow:hidden;
font-size:14px;
color:#111;
background-color:white;
}

.scheme-box{
width:300px;
height:640px;
padding:20px;
float:right;
background:violet;
color:white;
}

.title-scheme{
font-size:18px;
}














.list-box{
width:300px;
height:640px;
margin-right:340px;
padding:20px;
}

.title-list{
font-size:18px;
color:violet;
}

.list-content{
padding:0;
padding-left:20px;
}

.list-item{
margin:5px 0;
}

.list-item-genre{
display:;
color:#AAA;
}



































